<!DOCTYPE html>
<html>
<head>
<title>CSGO database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="Skins">
    <div class="w3-quarter">
      <img src="Karambit.jpg" alt="Karambit" style="width:90%">
      <h3>Skin: Doppler</h3>
      <h3>Condition: Factory New</h3>    
      <h3>Pattern: 534</h3>
      <h3>Float: 0.035707887262</h3>
      <h3>Price: €12754.72</h3>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/steak.jpg" alt="M9 Bayonet" style="width:90%">
      <h3>Skin: Crimson Web</h3>
      <h3>Condition: Field-Tested</h3>
      <h3>Pattern: 609</h3>
      <h3>Float: 0.354630947113</h3>
      <h3>Price: €280.41</h3>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/cherries.jpg" alt="Huntsman" style="width:90%">
      <h3>Skin: Bright Water</h3>
      <h3>Condition: Minimal Wear</h3>
      <h3>Pattern: 797</h3>
      <h3>Float: 0.141841828823</h3>
      <h3>Price: €144.47</h3>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/wine.jpg" alt="AWP" style="width:90%">
      <h3>Skin: Dragon lore</h3>
      <h3>Condition: Factory New</h3>
      <h3>Pattern: 296</h3>
      <h3>Float: 0.031255863607</h3>
      <h3>Price: €15753.57</h3>
    </div>
    <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="Ak-47" style="width:90%">
        <h3>Skin: Case Hardened</h3>
        <h3>Condition: Minimal Wear</h3>
        <h3>Pattern: 640</h3>
        <h3>Float: 0.095098018646</h3>
        <h3>Price: €92483.70</h3>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="M4A4" style="width:90%">
        <h3>Skin: Howl</h3>
        <h3>Condition: Factory New</h3>
        <h3>Pattern: 136</h3>
        <h3>Float: 0.009136962704</h3>
        <h3>Price: €20000</h3>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="Falchion" style="width:90%">
        <h3>Skin: Gamma doppler</h3>
        <h3>Condition: Factory New</h3>
        <h3>Pattern: 774</h3>
        <h3>Float: 0.016431393102</h3>
        <h3>Price: €1027.66</h3>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="Shadow Daggers" style="width:90%">
        <h3>Skin: Slaughter</h3>
        <h3>Condition: Factory New</h3>
        <h3>Pattern: 32</h3>
        <h3>Float: 0.032092910260</h3>
        <h3>Price: €166.80</h3>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="Bayonet" style="width:90%">
        <h3>Skin: Lore</h3>
        <h3>Battle-Scarred</h3>
        <h3>Pattern: 263</h3>
        <h3>Float: 0.649931252003</h3>
        <h3>Price: €313.61</h3>
      </div>
  </div>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>Contacting</h3>
      <p>Mail: CSfloat@gmail.com</p>
      </p>Phone number: +32 123 456 789</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">New fever case</span> 
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New skin finishes for certain knives</span> 
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

</body>
</html>
